.menu-item__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .6rem 1.2rem;
    gap: 1.2rem;
    cursor: pointer;
    user-select: none;
    border-radius: .5rem;
    font-size: .875rem !important;
    color: var(--p-text-muted-color);

    &.active,
    &:hover {
        background-color: var(--p-button-secondary-background);
        color: var(--p-text-color);
    }

    .menu-item__icon {
        font-size: .875rem !important;
    }
}