.agents {
    height: 100%;
    width: 100%;

    .agents__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .agents__filters {
            width: 100%;
            display: flex;
            gap: 1rem;

            .search-input {
                flex: 1;

                input {
                    width: 100%;
                }
            }

            .filters__type {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                user-select: none;
                white-space: nowrap;
                gap: .5rem;

                .filters__type-desc {
                    font-size: .875rem;
                    color: var(--p-text-muted-color);
                }

                p-select {
                    width: 100%;
                    max-width: 128px;
                    min-width: 128px;
                }
            }
        }

        .agent-kaban__wrapper {
            height: 100%;
            display: flex;
            gap: 1rem;

            >* {
                flex: 1;
            }

            .kanban-item__wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                border: 1px solid var(--background-color-100);
                border-radius: 1rem;

                &.draggable {
                    border-color: var(--background-color-200);
                    background-color: var(--background-color-100);
                }

                .kanban-header {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;

                    .title {
                        font-size: 1.25rem;
                        font-weight: 600;
                    }

                    .description {
                        font-size: .875rem;
                        color: var(--p-text-muted-color);
                    }
                }

                .kanban-content {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    flex: 1;
                    overflow-y: auto;

                    .agent__add {
                        min-height: 35px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: var(--p-inputtext-border-radius);
                        border: 2px dashed var(--p-button-secondary-hover-background);
                        color: var(--p-text-muted-color);
                        user-select: none;
                        cursor: pointer;
                    }

                    .agent__item {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: .25rem;
                        padding: .75rem 1rem;
                        background-color: var(--background-color-100);
                        border-radius: var(--p-inputtext-border-radius);
                        cursor: pointer;
                        user-select: none;
                        font-size: .75rem;

                        .agent__header {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .agent-header__left {
                                display: flex;
                                align-items: flex-end;
                                gap: .5rem;
                                line-height: normal;

                                .agent-header__name {
                                    font-size: 1rem;
                                    font-weight: 600;
                                }

                                .agent-header__reference {
                                    font-weight: 500;
                                }
                            }

                            p-tag {
                                font-size: .5rem;
                            }
                        }

                        .agent__description {
                            font-size: .75rem;
                            color: var(--p-text-muted-color);
                        }

                        .agent__footer {
                            margin-top: .25rem;
                            width: 100%;
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            font-size: .6rem;
                            color: var(--p-text-muted-color);

                            .agent-footer__left {
                                display: flex;
                                align-items: center;
                                gap: .5rem;

                                .agent-footer__info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: .125rem;
                                }
                            }
                        }

                        &.active,
                        &:hover {
                            background-color: var(--p-button-secondary-hover-background) !important;

                            &:active {
                                background-color: var(--p-button-secondary-active-background);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 568px) {
    .agents .agents__wrapper {
        flex-direction: column;

        .mobile__section-hide {
            display: none;
        }
    }
}