<p-toast position="bottom-right" />

<div class="agents">
    <div class="agents__wrapper">
        <div class="agents__filters">
            <input pInputText class="search-input" [(ngModel)]="search" type="text" pSize="small"
                placeholder="Rechercher un Agent" />
            <div class="filters__type">
                <span class="filters__type-desc">Trier par</span>
                <p-select [(ngModel)]="filterOn" [options]="filters" optionLabel="name" optionValue="value" size="small"
                    placeholder="Small" />
                <p-button [icon]="orderBy === 'asc' ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'" [text]="true"
                    severity="secondary" size="small" (click)="toggleOrder()" />
            </div>
        </div>
        <div class="agent-kaban__wrapper">
            <div class="kanban-item__wrapper">
                <div class="kanban-header">
                    <div class="title">
                        Modèles
                    </div>
                    <div class="description">
                        Liste des modèles de données
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__add">
                            <i class="pi pi-plus"></i>
                        </div>
                        <div class="agent__item droppable" *ngFor="let agent of filtered(models)" pDraggable
                            (onDragStart)="onDragStart(agent, 'models')" (onDragEnd)="onDragEnd()" draggable="true"
                            (click)="viewAgent(agent)">
                            <div class="agent__header">
                                <div class="agent-header__left">
                                    <div class="agent-header__name">{{ agent.name }}</div>
                                    <div class="agent-header__reference">{{ agent.reference }}</div>
                                </div>
                                <p-tag [value]="agent.version" severity="contrast" />
                            </div>
                            <div class="agent__description">
                                {{ agent.description }}
                            </div>
                            <div class="agent__footer">
                                <div class="agent-footer__left">
                                    <p-avatar [image]="`${this.api.publicUrl}/avatars/${agent.created_by._id}.png`"
                                        shape="circle" size="normal" />
                                    <div class="agent-footer__info">
                                        <div>Créé par {{ agent.created_by.firstname }} {{ agent.created_by.lastname }}
                                        </div>
                                        <div>Le {{ agent.created_at | date: 'dd/MM/yyyy à HH:mm' }}</div>
                                    </div>
                                </div>
                                <div *ngIf="agent.updated_at">
                                    MAJ {{ agent.updated_at | date: 'dd/MM/yyyy à HH:mm' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper draggable" pDroppable (onDrop)="onDropToDataset()"
                (dragover)="onDragOver($event, ['models'])" (dragleave)="onDragLeave($event)">
                <div class="kanban-header">
                    <div class="title">
                        Modélisations des données
                    </div>
                    <div class="description">
                        Liste des jeux de données
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            Prêt à l'entrainement
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(datasets.generated).length === 0">
                            Aucun modèle n'est prêt pour l'entrainement
                        </div>
                        <div class="agent__item draggable" *ngFor="let agent of filtered(datasets.generated)" pDraggable
                            (onDragStart)="onDragStart(agent, 'generated')" (onDragEnd)="onDragEnd()" draggable="true"
                            (click)="viewAgent(agent)">
                            <div class="agent__header">
                                <div class="agent-header__left">
                                    <div class="agent-header__name">{{ agent.name }}</div>
                                    <div class="agent-header__reference">{{ agent.reference }}</div>
                                </div>
                                <p-tag [value]="agent.version" severity="contrast" />
                            </div>
                            <div class="agent__description">
                                {{ agent.description }}
                            </div>
                            <div class="agent__footer">
                                <div class="agent-footer__left">
                                    <p-avatar [image]="`${this.api.publicUrl}/avatars/${agent.created_by._id}.png`"
                                        shape="circle" size="normal" />
                                    <div class="agent-footer__info">
                                        <div>Créé par {{ agent.created_by.email }}</div>
                                        <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                    </div>
                                </div>
                                <div>
                                    MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            Génération en cours
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(datasets.generating).length === 0">
                            Aucun modèle n'est en cours de génération
                        </div>
                        <div class="agent__item draggable" *ngFor="let agent of filtered(datasets.generating)">
                            <div class="agent__header">
                                <div class="agent-header__left">
                                    <div class="agent-header__name">{{ agent.name }}</div>
                                    <div class="agent-header__reference">{{ agent.reference }}</div>
                                </div>
                                <p-tag [value]="agent.version" severity="contrast" />
                            </div>
                            <div class="agent__description">
                                {{ agent.description }}
                            </div>
                            <div class="agent__footer">
                                <div class="agent-footer__left">
                                    <p-avatar [image]="`${this.api.publicUrl}/avatars/${agent.created_by._id}.png`"
                                        shape="circle" size="normal" />
                                    <div class="agent-footer__info">
                                        <div>Créé par {{ agent.created_by.firstname }} {{ agent.created_by.lastname }}
                                        </div>
                                        <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                    </div>
                                </div>
                                <div>
                                    MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper draggable" pDroppable (onDrop)="onDropToTrain()"
                (dragover)="onDragOver($event, ['generated'])" (dragleave)="onDragLeave($event)">
                <div class="kanban-header">
                    <div class="title">
                        Entrainement
                    </div>
                    <div class="description">
                        Liste des modèles entrainables
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            En entrainement
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(datasets.training).length === 0">
                            Aucun modèle n'est en entrainement
                        </div>
                        <div class="agent__item draggable" *ngFor="let agent of filtered(datasets.training)">
                            <div class="agent__header">
                                <div class="agent-header__left">
                                    <div class="agent-header__name">{{ agent.name }}</div>
                                    <div class="agent-header__reference">{{ agent.reference }}</div>
                                </div>
                                <p-tag [value]="agent.version" severity="contrast" />
                            </div>
                            <div class="agent__description">
                                <div>
                                    <p-progressbar [value]="getProgress(agent.progress)">
                                        <ng-template #content let-value />
                                    </p-progressbar>
                                </div>
                                <div class="progress">
                                    {{ getProgress(agent.progress) }}%
                                </div>
                            </div>
                            <div class="agent__footer">
                                <div class="agent-footer__left">
                                    <p-avatar [image]="`${this.api.publicUrl}/avatars/${agent.created_by._id}.png`"
                                        shape="circle" size="normal" />
                                    <div class="agent-footer__info">
                                        <div>Créé par {{ agent.created_by.email }}</div>
                                        <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                    </div>
                                </div>
                                <div>
                                    MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            En attente
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(datasets.ready).length === 0">
                            Aucun modèle n'est en attente
                        </div>
                        <div class="agent__item draggable" *ngFor="let agent of filtered(datasets.ready)">
                            <div class="agent__header">
                                <div class="agent-header__left">
                                    <div class="agent-header__name">{{ agent.name }}</div>
                                    <div class="agent-header__reference">{{ agent.reference }}</div>
                                </div>
                                <p-tag [value]="agent.version" severity="contrast" />
                            </div>
                            <div class="agent__description">
                                {{ agent.description }}
                            </div>
                            <div class="agent__footer">
                                <div class="agent-footer__left">
                                    <p-avatar [image]="`${this.api.publicUrl}/avatars/${agent.created_by._id}.png`"
                                        shape="circle" size="normal" />
                                    <div class="agent-footer__info">
                                        <div>Créé par {{ agent.created_by.email }}</div>
                                        <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                    </div>
                                </div>
                                <div>
                                    MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper">
                <div class="kanban-header">
                    <div class="title">
                        Agents
                    </div>
                    <div class="description">
                        Liste des agents entrainés
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__empty" *ngIf="filtered(agents).length === 0">
                            Aucun modèle n'est en entrainement
                        </div>
                        <div class="agent__item draggable" *ngFor="let agent of filtered(agents)">
                            <div class="agent__header">
                                <div class="agent-header__left">
                                    <div class="agent-header__name">{{ agent.name }}</div>
                                    <div class="agent-header__reference">{{ agent.reference }}</div>
                                </div>
                                <p-tag [value]="agent.version" severity="contrast" />
                            </div>
                            <div class="agent__description">
                                {{ agent.description }}
                            </div>
                            <div class="agent__footer">
                                <div class="agent-footer__left">
                                    <p-avatar [image]="`${this.api.publicUrl}/avatars/${agent.created_by._id}.png`"
                                        shape="circle" size="normal" />
                                    <div class="agent-footer__info">
                                        <div>Créé par {{ agent.created_by.email }}</div>
                                        <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                    </div>
                                </div>
                                <div>
                                    MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>