<p-toast position="bottom-right"/>

<div class="agents">
    <div class="agents__wrapper">
        <div class="agents__filters">
            <input pInputText class="search-input" [(ngModel)]="search" type="text" pSize="small"
                placeholder="Rechercher un Agent" />
            <div class="filters__type">
                <span class="filters__type-desc">Trier par</span>
                <p-select [(ngModel)]="filterOn" [options]="filters" optionLabel="name" optionValue="value" size="small"
                    placeholder="Small" />
                <p-button [icon]="orderBy === 'asc' ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'" [text]="true"
                    severity="secondary" size="small" (click)="toggleOrder()" />
            </div>
        </div>
        <div class="agent-kaban__wrapper">
            <div class="kanban-item__wrapper">
                <div class="kanban-header">
                    <div class="title">
                        Modèles
                    </div>
                    <div class="description">
                        Liste des modèles de données
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="agent__add">
                        <i class="pi pi-plus"></i>
                    </div>
                    <div class="agent__item droppable" *ngFor="let agent of filtered(models)" pDraggable (onDragStart)="onDragStart(agent, 'models')"
                        (onDragEnd)="onDragEnd()" draggable="true">
                        <div class="agent__header">
                            <div class="agent-header__left">
                                <div class="agent-header__name">{{ agent.name }}</div>
                                <div class="agent-header__reference">{{ agent.reference }}</div>
                            </div>
                            <p-tag [value]="agent.version" severity="contrast" />
                        </div>
                        <div class="agent__description">
                            {{ agent.description }}
                        </div>
                        <div class="agent__footer">
                            <div class="agent-footer__left">
                                <p-avatar shape="circle" size="normal" />
                                <div class="agent-footer__info">
                                    <div>Créé par {{ agent.created_by.fullname }}</div>
                                    <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                </div>
                            </div>
                            <div>
                                MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper draggable" pDroppable (onDrop)="onDropToDataset()"
                (dragover)="onDragOver($event, ['models'])" (dragleave)="onDragLeave($event)">
                <div class="kanban-header">
                    <div class="title">
                        En validation
                    </div>
                    <div class="description">
                        Liste des modèles en validation
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="agent__item droppable draggable" *ngFor="let agent of filtered(modelsGenerated)" pDraggable
                        (onDragStart)="onDragStart(agent, 'generated')" (onDragEnd)="onDragEnd()" draggable="true">
                        <div class="agent__header">
                            <div class="agent-header__left">
                                <div class="agent-header__name">{{ agent.name }}</div>
                                <div class="agent-header__reference">{{ agent.reference }}</div>
                            </div>
                            <p-tag [value]="agent.version" severity="contrast" />
                        </div>
                        <div class="agent__description">
                            {{ agent.description }}
                        </div>
                        <div class="agent__footer">
                            <div class="agent-footer__left">
                                <p-avatar shape="circle" size="normal" />
                                <div class="agent-footer__info">
                                    <div>Créé par {{ agent.created_by.fullname }}</div>
                                    <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                </div>
                            </div>
                            <div>
                                MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper draggable" pDroppable (onDrop)="onDropToTrain()"
                (dragover)="onDragOver($event, ['generated'])" (dragleave)="onDragLeave($event)">
                <div class="kanban-header">
                    <div class="title">
                        En entrainement
                    </div>
                    <div class="description">
                        Liste des modèles en entrainement
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="agent__item draggable" *ngFor="let agent of filtered(modelsToTrain)">
                        <div class="agent__header">
                            <div class="agent-header__left">
                                <div class="agent-header__name">{{ agent.name }}</div>
                                <div class="agent-header__reference">{{ agent.reference }}</div>
                            </div>
                            <p-tag [value]="agent.version" severity="contrast" />
                        </div>
                        <div class="agent__description">
                            {{ agent.description }}
                        </div>
                        <div class="agent__footer">
                            <div class="agent-footer__left">
                                <p-avatar shape="circle" size="normal" />
                                <div class="agent-footer__info">
                                    <div>Créé par {{ agent.created_by.fullname }}</div>
                                    <div>Le {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
                                </div>
                            </div>
                            <div>
                                MAJ {{ agent.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper">
                <div class="kanban-header">
                    <div class="title">
                        Agents
                    </div>
                    <div class="description">
                        Liste des agents entrainés
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>