<p-toast position="bottom-right" />

<div class="agents">
    <div class="agents__wrapper">
        <div class="agents__filters">
            <input pInputText class="search-input" [(ngModel)]="search" type="text" pSize="small"
                placeholder="Rechercher un Agent" />
            <div class="filters__type">
                <span class="filters__type-desc">Trier par</span>
                <p-select [(ngModel)]="filterOn" [options]="filters" optionLabel="name" optionValue="value" size="small"
                    placeholder="Small" />
                <p-button [icon]="orderBy === 'asc' ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'" [text]="true"
                    severity="secondary" size="small" (click)="toggleOrder()" />
            </div>
        </div>

        <div class="tabs__choices">
            <p-button [variant]="displayModels ? undefined : 'text'" severity="secondary" label="Modèles"
                (click)="selectTab('models')"></p-button>
            <p-button [variant]="displayGenerating ? undefined : 'text'" severity="secondary" label="Génération"
                (click)="selectTab('generating')"></p-button>
            <p-button [variant]="displayTraining ? undefined : 'text'" severity="secondary" label="Entrainement"
                (click)="selectTab('training')"></p-button>
            <p-button [variant]="displayAgents ? undefined : 'text'" severity="secondary" label="Agents"
                (click)="selectTab('agents')"></p-button>
        </div>

        <div class="agent-kaban__wrapper">

            <div class="kanban-item__wrapper" *ngIf="displayModels">
                <div class="kanban-header">
                    <div class="title">
                        Modèles
                    </div>
                    <div class="description">
                        Liste des modèles de données
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__add" (click)="createModel()">
                            <i class="pi pi-plus"></i>
                        </div>
                        <app-agent-item *ngFor="let agent of filtered(app.models)" pDraggable
                            (onDragStart)="onDragStart(agent, 'models')" (onDragEnd)="onDragEnd()" draggable="true"
                            (click)="viewAgent(agent, 'models')" [agent]="agent" type="model"
                            [classes]="['droppable']" />
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper draggable" *ngIf="displayGenerating" pDroppable
                (onDrop)="onDropToDataset()" (dragover)="onDragOver($event, ['models'])"
                (dragleave)="onDragLeave($event)">
                <div class="kanban-header">
                    <div class="title">
                        Modélisations des données
                    </div>
                    <div class="description">
                        Liste des jeux de données
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            Prêt à l'entrainement
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(app.datasets.generated).length === 0">
                            Aucun modèle n'est prêt pour l'entrainement
                        </div>
                        <app-agent-item *ngFor="let agent of filtered(app.datasets.generated)" pDraggable
                            (onDragStart)="onDragStart(agent, 'generated')" (onDragEnd)="onDragEnd()" draggable="true"
                            (click)="viewAgent(agent, 'generating')" [agent]="agent" [classes]="['draggable']" />
                    </div>
                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            Génération en cours
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(app.datasets.generating).length === 0">
                            Aucun modèle n'est en cours de génération
                        </div>
                        <app-agent-item *ngFor="let agent of filtered(app.datasets.generating)"
                            (click)="viewAgent(agent, 'generating')" [agent]="agent" [classes]="['draggable']" />
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper draggable" *ngIf="displayTraining" pDroppable (onDrop)="onDropToTrain()"
                (dragover)="onDragOver($event, ['generated'])" (dragleave)="onDragLeave($event)">
                <div class="kanban-header">
                    <div class="title">
                        Entrainement
                    </div>
                    <div class="description">
                        Liste des modèles entrainables
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            En entrainement
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(app.datasets.training).length === 0">
                            Aucun modèle n'est en entrainement
                        </div>
                        <app-agent-item *ngFor="let agent of filtered(app.datasets.training)"
                            (click)="viewAgent(agent, 'training')" [agent]="agent" [classes]="['draggable']" />
                    </div>

                    <div class="kanban-content__section">
                        <div class="kanban-content__title">
                            En attente
                        </div>
                        <div class="kanban-content__empty" *ngIf="filtered(app.datasets.ready).length === 0">
                            Aucun modèle n'est en attente
                        </div>
                        <app-agent-item *ngFor="let agent of filtered(app.datasets.ready)"
                            (click)="viewAgent(agent, 'training')" [agent]="agent"
                            [classes]="['draggable', 'droppable']" />
                    </div>
                </div>
            </div>

            <div class="kanban-item__wrapper" *ngIf="displayAgents">
                <div class="kanban-header">
                    <div class="title">
                        Agents
                    </div>
                    <div class="description">
                        Liste des agents entrainés
                    </div>
                </div>
                <div class="kanban-content">
                    <div class="kanban-content__section">
                        <div class="kanban-content__empty" *ngIf="filtered(app.agents).length === 0">
                            Aucun modèle n'est en entrainement
                        </div>
                        <app-agent-item *ngFor="let agent of filtered(app.agents)" (click)="viewAgent(agent, 'agents')"
                            [agent]="agent" type="agent" />
                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>