.model-form__wrapper {
    width: 100%;
}

::ng-deep {
    .p-divider-content {
        background: var(--background-color-100) !important;
        font-size: .875rem;
        font-weight: 600;
    }
}