.node__container {
    height: calc(4 * 24px);
    width: calc(4 * 24px);
    position: relative;

    .node__wrapper {
        width: 100%;
        height: 100%;
        border-radius: .5rem;
        border: 1px solid var(--p-primary-500);
        background-color: var(--background-color-100);
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 1.75rem;
            color: var(--background-color-400);
        }

        &.unconfigurable {
            border-color: var(--background-color-400) !important;
        }

        &.unconfigured {
            border-color: var(--p-red-500);
        }

        &.start {
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }

        &.end {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }

        &.if {
            rotate: 45deg;

            span {
                transform: rotate(-45deg);
            }
        }

        &.agent {
            border-radius: 100%;
        }
    }

    .node__name {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: .5rem;

        &.if {
            margin-top: 1.5rem;
        }

        span {
            text-wrap: nowrap;
            font-size: .875rem;
            font-weight: 600;
            color: var(--p-text-muted-color);
            text-transform: capitalize;
        }
    }

    .node-inputs__wrapper,
    .node-outputs__wrapper {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 38px;

        &.node-outputs__wrapper {
            left: 100%;

            &.if {
                left: 84%;
                gap: 61px;
            }
        }

        &.node-inputs__wrapper.if {
            left: -13%;
            gap: 61px;
        }

        .input-port,
        .output-port {
            position: relative;
            width: 10px;
            background-color: var(--background-color-400);
            cursor: pointer;

            .input-port__name,
            .output-port__name {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin: 0 .25rem;
                padding: .125rem .25rem;
                background-color: var(--background-color-100);
                text-wrap: nowrap;
                font-size: .75rem;
                font-weight: 500;
                color: var(--p-text-muted-color);
                text-transform: capitalize;

                &.output-port__name {
                    left: 100%;
                }
            }

            &.input-port {
                height: 20px;
                border-radius: .25rem;
            }

            &.output-port {
                height: 10px;
                border-radius: 1rem;
            }

            &:hover {
                background-color: var(--background-color-500);
            }
        }
    }
}