<div class="flow-preview">
    <div class="flow-preview__wrapper">
        <div class="flow-preview__header">
            <p-button label="Retour" severity="secondary" icon="pi pi-arrow-left" [text]="true" (onClick)="back()"
                size="small" />
            <p-button label="Modifier" severity="secondary" icon="pi pi-pencil" [text]="true" (onClick)="back()"
                size="small" />
        </div>
        <div class="flow-preview__content">
            <div class="flow-preview__infos">
                <div class="flow-preview__sections">
                    <div class="flow-preview__row-section">
                        <div class="flow-preview__section-title">
                            {{ flow?.name }}
                        </div>
                        <div class="flow-preview__section-content">
                            {{ flow?.id }}
                        </div>
                    </div>

                    <div class="flow-preview__section">
                        <div class="flow-preview__section-title">Description</div>
                        <div class="flow-preview__section-content">
                            {{ flow?.description }}
                        </div>
                    </div>

                    <div class="flow-preview__section">
                        <div class="flow-preview__section-title">Document pris en charge</div>
                        <div class="flow-preview__section-content">
                            {{ flow.files.join(', ') || 'Tous les documents sont pris en charge' }}
                        </div>
                    </div>

                    <div class="flow-preview__section">
                        <div class="flow-preview__section-title">Statut</div>
                        <div class="flow-preview__section-content">
                            {{ flow?.status }}
                        </div>
                    </div>

                    <div class="flow-preview__section">
                        <div class="flow-preview__section-title">Dernière modification</div>
                        <div class="flow-preview__section-content">
                            {{ flow?.updatedAt | date: 'dd/MM/yyyy HH:mm' }}
                        </div>
                    </div>
                </div>

                <p-divider />

                <div class="flow-preview__sections">
                    <div class="flow-preview__row-section">
                        <div class="flow-preview__section-title">
                            Statistiques
                        </div>
                        <div class="flow-preview__section-content">
                            Depuis la dernière modification
                        </div>
                    </div>

                    <div class="flow-preview__section">
                        <div class="flow-preview__section-title">Durée moyenne d'exécution</div>
                        <div class="flow-preview__section-content">
                            2.5s
                        </div>
                    </div>

                    <div class="flow-preview__section">
                        <div class="flow-preview__section-title">Nombre d'exécutions</div>
                        <div class="flow-preview__section-content">
                            56
                        </div>
                    </div>
                </div>

                <p-divider />

                <div class="flow-preview__sections __last">
                    <div class="flow-preview__row-section">
                        <div class="flow-preview__section-title">
                            Structures
                        </div>
                    </div>

                    <p-selectbutton [(ngModel)]="selectPreview.value" [options]="selectPreview.options" size="small"
                        optionLabel="label" optionValue="value" [allowEmpty]="false" />

                    <div class="orgchart-container">
                        <app-gflow />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>