.flow-preview {
    height: 100%;
    width: 100%;

    .flow-preview__wrapper {
        height: 100%;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .flow-preview__header {
            display: flex;
            align-items: center;
            gap: 1rem;

            .flow-preview__title {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.25rem;
                color: var(--p-text-color);
            }
        }

        .flow-preview__content {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .flow-preview__infos {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .flow-preview__sections {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
                    gap: 1rem;

                    .flow-preview__section,
                    .flow-preview__row-section {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .flow-preview__section-title {
                            font-size: 1.5rem;
                            font-weight: 600;
                            line-height: 1.125rem;
                            color: var(--p-text-color);
                        }

                        .flow-preview__section-content {
                            font-size: .875rem;
                            line-height: .75rem;
                            color: var(--p-text-muted-color);
                        }
                    }

                    .flow-preview__row-section {
                        grid-column: 1 / -1;
                        margin-bottom: .5rem;
                    }

                    .flow-preview__section .flow-preview__section-title {
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: .875rem;
                    }

                    &.__last {
                        flex: 1;
                        display: flex !important;
                        flex-direction: column !important;
                        gap: .5rem !important;
                    }
                }
            }

            p-selectbutton {
                width: 100%;
                grid-column: 1 / -1;
            }

            .orgchart-container {
                width: 100%;
                flex: 1;
                grid-column: 1 / -1;
                border-radius: 1rem;
                overflow: hidden;
                cursor: grab;
                position: relative;

                border: 1px solid var(--p-button-secondary-active-background);
                background-color: var(--background-color);
                background-image:
                    linear-gradient(var(--orgchart-background-line) .2px, transparent 1px),
                    linear-gradient(90deg, var(--orgchart-background-line) .2px, transparent 1px);
                background-size: 1rem 1rem;

                &:active {
                    cursor: grabbing;
                }

                .orgchart__reset {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    z-index: 10;
                }

                .orgchart-content {
                    transition: transform 0s;
                    position: relative;

                    .org-item {
                        position: relative;

                        .org-item__wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: .5rem .75rem;
                            gap: .5rem;

                            i {
                                font-size: .75rem;
                            }

                            .org-item__label {
                                font-size: .875rem;
                                line-height: 1rem;
                            }

                            .org-item__tag {
                                font-size: .5rem;
                            }
                        }
                        
                        .org-item__animate-logo {
                            position: absolute;
                            transform: translate(-50%, -50%);
                            left: 50%;
                            z-index: -1;

                            &.pi-file {
                                top: 50%;
                                animation: toNode 6s linear infinite;
                                animation-delay: 1s;
                            }

                            &.pi-code {
                                bottom: 10px;
                                animation: fromNode 6s linear infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}

:host ::ng-deep {
    .success-node {
        background: var(--p-tag-success-background);
        color: var(--p-tag-success-color);
    }

    .error-node {
        background: var(--p-tag-danger-background);
        color: var(--p-tag-danger-color);
    }
}