.flow-preview {
    height: 100%;
    width: 100%;

    .flow-preview__wrapper {
        height: 100%;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .flow-preview__header {
            display: flex;
            align-items: center;
            gap: 1rem;

            .flow-preview__title {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.25rem;
                color: var(--p-text-color);
            }
        }

        .flow-preview__content {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .flow-preview__infos {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .flow-preview__sections {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
                    gap: 1rem;

                    .flow-preview__section,
                    .flow-preview__row-section {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .flow-preview__section-title {
                            font-size: 1.5rem;
                            font-weight: 600;
                            line-height: 1.125rem;
                            color: var(--p-text-color);
                        }

                        .flow-preview__section-content {
                            font-size: .875rem;
                            line-height: .75rem;
                            color: var(--p-text-muted-color);
                        }
                    }

                    .flow-preview__row-section {
                        grid-column: 1 / -1;
                        margin-bottom: .5rem;
                    }

                    .flow-preview__section .flow-preview__section-title {
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: .875rem;
                    }

                    &.__last {
                        flex: 1;
                        display: flex !important;
                        flex-direction: column !important;
                        gap: .5rem !important;
                    }
                }
            }

            p-selectbutton {
                width: 100%;
                grid-column: 1 / -1;
            }

            .orgchart-container {
                width: 100%;
                flex: 1;
                grid-column: 1 / -1;
                border-radius: 1rem;
                overflow: hidden;
                border: 1px solid var(--p-button-secondary-active-background);
                
                &.fullscreen {
                    position: fixed;
                    height: calc(100svh - 2rem);
                    width: calc(100svw - 2rem);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

:host ::ng-deep {
    .success-node {
        background: var(--p-tag-success-background);
        color: var(--p-tag-success-color);
    }

    .error-node {
        background: var(--p-tag-danger-background);
        color: var(--p-tag-danger-color);
    }
}