@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes formFadeIn {
    0% {
        transform: translateX(20px);
        opacity: 0;
        display: none;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
        display: flex;
    }
}

@keyframes toNode {
    0% {
        top: -100%;
        opacity: 0;
    }

    50% {
        top: 50%;
        opacity: 1;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

@keyframes fromNode {
    0% {
        bottom: 10px;
        opacity: 1;
    }

    50% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: -150%;
        opacity: 0;
    }
}