.agent-item__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .75rem 1rem;
    background-color: var(--background-color-100);
    border-radius: var(--p-inputtext-border-radius);
    cursor: pointer;
    user-select: none;
    font-size: .75rem;

    &.draggable {
        background-color: var(--background-color-200);
        --hovered-bg: var(--background-color-200);

        &:hover,
        &:active {
            --hovered-bg: var(--background-color-300) !important;
            background-color: var(--background-color-300) !important;
        }
    }

    &.droppable {
        cursor: grab;
    }

    .agent__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .agent-header__left {
            display: flex;
            align-items: flex-end;
            gap: .5rem;
            line-height: normal;

            .agent-header__name {
                font-size: 1rem;
                font-weight: 600;
            }

            .agent-header__reference {
                font-weight: 500;
            }
        }

        .agent-header__right {
            display: flex;
            align-items: center;
            gap: .5rem;

            p-tag {
                font-size: .6rem;
            }

            .menu {
                cursor: pointer !important;
                font-size: .875rem;
            }
        }
    }

    .agent__description {
        font-size: .75rem;
        color: var(--p-text-muted-color);
        display: flex;
        align-items: center;
        gap: .5rem;
        position: relative;
        min-height: 12.2px;

        div {
            width: 100%;
            flex: 1;

            p-progressbar {
                height: .25rem !important;
            }
        }

        .progress {
            width: auto;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: var(--p-text-muted-color);
            user-select: none;
            padding: .125rem .3rem;
            background-color: var(--hovered-bg);
            border-radius: 100px;
        }
    }

    .agent__footer {
        margin-top: .25rem;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        font-size: .6rem;
        color: var(--p-text-muted-color);

        .agent-footer__left {
            display: flex;
            align-items: center;
            gap: .5rem;

            .agent-footer__info {
                display: flex;
                flex-direction: column;
                gap: .125rem;
            }
        }
    }

    &.active,
    &:hover {
        background-color: var(--p-button-secondary-hover-background) !important;

        &:active {
            background-color: var(--p-button-secondary-active-background);
        }
    }
}