@if (user) {
<div class="app">
    <div class="header">
        <div class="header__wrapper">
            <app-header />
        </div>
    </div>
    <div class="app__layout __logged">
        <div class="app__main">
            <div class="app__body">
                <div class="sidebar">
                    <div class="sidebar__wrapper">
                        <app-sidebar />
                    </div>
                </div>
                <div class="content __logged">
                    <div class="content__wrapper __padding">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-navigation">
        <div class="mobile-navigation__wrapper">
            <app-mobile-navigation />
        </div>
    </div>
</div>
} @else {
<div class="app">
    <div class="app__layout">
        <div class="app__main">
            <div class="app__body">
                <div class="content">
                    <div class="content__wrapper">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}