.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .header {
        height: var(--header-height);
        width: 100%;

        .header__wrapper {
            height: 100%;
            width: 100%;
            background-color: var(--p-surface-100);
        }
    }

    .app__layout {
        flex: 1;
        height: 100%;
        width: 100%;

        .app__main {
            height: 100%;
            width: 100%;

            .app__body {
                height: 100%;
                width: 100%;
                display: flex;
                overflow: hidden;

                .sidebar {
                    width: var(--sidebar-width);
                    height: 100%;

                    .sidebar__wrapper {
                        height: 100%;
                        width: 100%;
                        overflow-y: auto;
                        background-color: var(--p-surface-200);
                    }
                }

                .content {
                    height: 100%;
                    flex: 1;

                    .content__wrapper {
                        height: 100%;
                        width: 100%;
                        overflow-y: auto;
                        background-color: var(--p-surface-300);
                    }
                }
            }
        }
    }
}