.header {
    height: 100%;
    width: 100%;

    .header__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        gap: var(--gap-app);

        .brand {
            height: 100%;
            width: calc(var(--sidebar-width) - var(--padding-app));
            display: flex;
            align-items: center;
            justify-content: center;

            .brand__wrapper {
                display: flex;
                flex-direction: column;
                gap: .125rem;
                user-select: none;

                .brand__logo {
                    display: flex;
                    align-items: flex-end;
                    gap: 1rem;

                    .brand__square {
                        width: 2rem;
                        height: 1rem;
                        background: var(--background-gradient);
                        background-size: 800% 800%;
                        -webkit-text-fill-color: transparent;
                        animation: gradientMove 10s ease infinite;
                        border-radius: 4px;
                        margin-bottom: .125rem;
                    }

                    .brand__title {
                        font-size: 1.75rem;
                        font-weight: 600;
                        line-height: 1.5rem;
                    }
                }
            }
        }

        .header__content {
            height: 100%;
            flex: 1;

            .content__wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left__content {
                    height: 100%;

                    .left__content-wrapper {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .subtitle,
                        p-breadcrumb {
                            font-size: 1rem !important;
                            line-height: normal !important;
                            color: var(--p-text-muted-color);
                        }

                        .title {
                            font-size: 1.5rem;
                            font-weight: 600;
                            line-height: 1.5rem;
                            color: var(--p-text-color);
                        }
                    }
                }

                .right__content {
                    height: 100%;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .right__content-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header .header__wrapper .header__content .content__wrapper .left__content {
        display: none;
    }
}