<div class="header">
    <div class="header__wrapper">
        <div class="brand">
            <div class="brand__wrapper">
                <div class="brand__logo">
                    <span class="brand__square"></span>
                    <span class="brand__title">sardine</span>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="content__wrapper">
                <div class="left__content">
                    <div class="left__content-wrapper">
                        <span class="subtitle">
                            <p-breadcrumb [model]="breadcrumbs" class="breadcrumb"></p-breadcrumb>
                        </span>
                        <span class="title">{{ title }}</span>
                    </div>
                </div>
                <div class="right__content">
                    <div class="right__content-wrapper">
                        <p-button [icon]="themeService.isDarkMode() ? 'pi pi-moon' : 'pi pi-sun'" severity="secondary"
                            (onClick)="themeService.toggleTheme()" size="small" [text]="true">
                        </p-button>
                        <p-button icon="pi pi-sign-out" severity="secondary" (onClick)="userService.logout()"
                            size="small" [text]="true">
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>