.register__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    user-select: none;

    .register__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        user-select: none;

        .head__title {
            font-size: 1.875rem;
            font-weight: bold;

            .title__brand {
                background: linear-gradient(270deg, #ff00cc, #3333ff, #00ffcc, #ff00cc);
                background-size: 800% 800%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: gradientMove 10s ease infinite;
            }
        }

        .head__subtitle {
            font-size: .875rem;
            color: var(--p-text-color);
            display: flex;
            align-items: center;
            gap: .25rem;

            .subtitle__link {
                display: flex;
                align-items: center;
                gap: .25rem;
                font-weight: 600;
                color: var(--p-text-color);
                cursor: pointer;
                text-decoration: none;

                .pi {
                    font-size: .625rem;
                }
            }
        }
    }

    .register__form {
        display: flex;
        align-items: center;
        position: relative;
        gap: 1rem;

        .form__step {
            flex: 1;
            display: none;
            flex-direction: column;
            gap: .5rem;
            align-items: center;

            &.active {
                animation: formFadeIn .5s ease forwards;
                display: flex;
            }

            &.inactive {
                position: absolute;
            }

            .form__actions {
                display: flex;
                justify-content: center;
                gap: .5rem;
            }
        }
    }

    .register__footer {
        font-size: .875rem;
        color: var(--p-text-muted-color);
        display: flex;
        align-items: center;
        gap: .25rem;

        .footer__link {
            display: flex;
            align-items: center;
            gap: .25rem;
            font-weight: 600;
            color: var(--p-text-muted-color);
            cursor: pointer;
            text-decoration: none;

            .pi {
                font-size: .625rem;
            }
        }
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes formFadeIn {
    0% {
        transform: translateX(20px);
        opacity: 0;
        display: none;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
        display: flex;
    }
}