<div class="register">
    <div class="register__wrapper">
        <div class="register__form">
            <div [class.active]="step === 0" class="form__step" [class.inactive]="step !== 0">
                <p-button label="S'inscrire dès maintenant" size="small" severity="secondary"
                    (onClick)="changeStep(1)" />
            </div>

            <div [class.active]="step === 1" class="form__step" [class.inactive]="step !== 1">
                <input pInputText [(ngModel)]="user.email" placeholder="Votre adresse e-mail" [disabled]="!user"
                    pSize="small" />
                <div class="form__actions">
                    <p-button label="Retour" size="small" severity="secondary" (onClick)="changeStep(0)"
                        variant="text" />
                    <p-button label="Continuer" size="small" severity="secondary" (onClick)="changeStep(2)"
                        [disabled]="!user.email" />
                </div>
            </div>

            <div [class.active]="step === 2" class="form__step" [class.inactive]="step !== 2">
                <input pInputText [(ngModel)]="user.firstName" placeholder="Votre prénom" [disabled]="!user"
                    pSize="small" />
                <input pInputText [(ngModel)]="user.lastName" placeholder="Votre nom" [disabled]="!user"
                    pSize="small" />
                <div class="form__actions">
                    <p-button label="Retour" size="small" severity="secondary" (onClick)="changeStep(1)"
                        variant="text" />
                    <p-button label="Continuer" size="small" severity="secondary" (onClick)="changeStep(3)"
                        [disabled]="!user.firstName || !user.lastName" />
                </div>
            </div>

            <div [class.active]="step === 3" class="form__step" [class.inactive]="step !== 3">
                <p-password [(ngModel)]="user.password" [toggleMask]="true" [feedback]="false"
                    placeholder="Votre mot de passe" [disabled]="!user" size="small" />
                <div class="form__actions">
                    <p-button label="Retour" size="small" severity="secondary" (onClick)="changeStep(2)"
                        variant="text" />
                    <p-button label="S'inscrire" size="small" severity="secondary" (onClick)="register()"
                        [disabled]="!user.password" />
                </div>
            </div>
        </div>

        <div class="register__footer">
            Déjà inscrit ?
            <a routerLink="/auth/login" class="footer__link">
                Connectez-vous
            </a>
        </div>
    </div>
</div>