.auth {
    height: 100%;
    width: 100%;

    .auth__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: .75rem;

        .auth__head {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            user-select: none;

            .head__title {
                font-size: 1.875rem;
                font-weight: 700;

                .title__brand {
                    background: var(--background-gradient);
                    background-size: 800% 800%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: gradientMove 10s ease infinite;
                }
            }

            .head__subtitle {
                font-size: .875rem;
                color: var(--p-text-color);
                display: flex;
                align-items: center;
                gap: .25rem;

                .subtitle__link {
                    display: flex;
                    align-items: center;
                    gap: .25rem;
                    font-weight: 600;
                    color: var(--p-text-color);
                    cursor: pointer;
                    text-decoration: none;

                    .pi {
                        font-size: .625rem;
                    }
                }
            }
        }
    }
}