<div class="auth">
    <div class="auth__wrapper">
        <div class="auth__head">
            <div class="head__title">
                Planvenguda a <span class="title__brand">Sardine</span>
            </div>
            <div class="head__subtitle">
                Une intelligence artificielle made in Aveyron par
                <a href="https://sendoc.fr" class="subtitle__link" target="_blank">
                    SenDOC
                    <i class="pi pi-arrow-up-right"></i>
                </a>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>