.playground-sardine {
    width: 100%;
    height: 100%;

    .playground-sardine__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .playground-sardine__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: 1.5rem;

            .playground-sardine__form-title,
            .playground-sardine__form-title-mobile {
                display: flex;
                align-items: center;
                gap: .5rem;

                span {
                    font-size: 1.875rem;
                    font-weight: 700;
                }

                p-select {
                    border: none;

                    .p-select-label {
                        font-size: 1.875rem;
                        font-weight: 700;
                        color: var(--p-text-muted-color);
                    }
                }
            }

            .playground-sardine__form-title-mobile {
                display: none;
            }

            .form__step {
                flex: 1;
                display: none;
                flex-direction: column;
                gap: .5rem;
                align-items: center;

                input,
                p-password,
                p-select {
                    width: 265px;
                }

                .form__upload {
                    max-width: 90dvw;
                    width: 512px;
                    height: 128px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: .5rem;
                    border: 2px dashed var(--p-button-secondary-hover-background);
                    font-size: .875rem;
                    color: var(--p-text-muted-color);
                    cursor: pointer;
                    user-select: none;

                    .form__upload-filename {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 80%;
                    }
                }

                &.active {
                    animation: formFadeIn .5s ease forwards;
                    display: flex;
                }

                &.inactive {
                    position: absolute;
                }

                .form__actions {
                    display: flex;
                    justify-content: center;
                    gap: .5rem;
                }
            }
        }

        .left__content,
        .right__content {
            height: 100%;
            border-radius: 1rem;
        }

        .left__content {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            max-width: calc(100% - 400px);

            .canvas__container {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: inherit;
                max-height: inherit;

                .canvas__wrapper {
                    width: fit-content;
                    height: fit-content;
                    max-height: -webkit-fill-available;
                    max-width: -webkit-fill-available;
                    border-radius: 1rem;
                    overflow: hidden;

                    canvas {
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: contain;
                    }
                }
            }
        }

        .right__content {
            width: 400px;
            background-color: var(--background-color-100);

            .right-content__wrapper {
                padding: 1rem;

                .right-content__title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: 1.25rem;
                    color: var(--p-text-color);
                }
            }
        }
    }
}

::ng-deep {
    .pdfViewer {
        display: flex;
        align-items: center;
        justify-content: center;

        &.removePageBorders {
            .page {
                margin: 0 !important;
                border-radius: 1rem;

                .canvasWrapper {
                    overflow: hidden;
                    border-radius: 1rem;
                }
            }
        }
    }

    .p-select {
        background: transparent !important;
        box-shadow: none !important;
    }

    p-select .p-select-label {
        font-size: 1.875rem !important;
        font-weight: 700;
        background: var(--background-gradient);
        background-size: 800% 800%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradientMove 10s ease infinite;
        padding: none !important;
        padding-block: 0 !important;
        padding-inline: 0 !important;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 568px) {
    .playground-sardine .playground-sardine__wrapper .playground-sardine__form {

        .playground-sardine__form-title {
            display: none;
        }

        .playground-sardine__form-title-mobile {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}