<div class="playground-sardine">
    <div class="playground-sardine__wrapper">
        <div class="playground-sardine__form">
            <div class="playground-sardine__form-title">
                <span>Télécharger un fichier pour tester Sardine</span>
                <p-select [options]="versions" [(ngModel)]="data.version" size="small" />
            </div>

            <div [class.active]="step === 0" class="form__step" [class.inactive]="step !== 0">
                <div class="form__upload"
                    (click)="fileInput.click()"
                    (drop)="onDropFile($event)"
                    (dragover)="onDragOver($event)">
                    <span *ngIf="!data.base64">Cliquer pour télécharger un fichier</span>
                    <span *ngIf="!data.base64">ou</span>
                    <span *ngIf="!data.base64">Déposer un fichier ici</span>
                    <span *ngIf="data.base64">{{ data.base64 ? `Document téléchargé : ${filename}` : '' }}</span>
                    <input type="file" #fileInput hidden (change)="onFileSelected($event)">
                </div>

                <div class="form__actions">
                    <p-button label="Annuler" size="small" severity="secondary" [routerLink]="['/playground']"
                        variant="text" />
                    <p-button label="Tester" size="small" severity="secondary" [disabled]="!data.base64" />
                </div>
            </div>
        </div>
    </div>
</div>