.viewer {
    max-height: 70vh;
    overflow: auto;
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Courier New", monospace;
}

.tree details {
    border-left: 1.5px dashed var(--p-button-secondary-active-background);
    margin-left: 10px;
    padding-left: 12px;

    &.first {
        margin-left: 0;
    }
}

.tree summary {
    list-style: none;
    cursor: pointer;
    user-select: none;
    padding: 6px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.kv-row {
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 4px 20px;
    margin-left: 10px;
    border-left: 1.5px dashed var(--p-button-secondary-active-background);
}

.key {
    font-weight: 600;
}

.sep {
    opacity: .7;
}

.badge {
    font-size: .6rem;
    border: 1px solid var(--p-text-muted-color);
    padding: .2rem .4rem;
    border-radius: 999px;
    color: var(--p-text-muted-color);
}

.val.string {
    color: #9cdcfe;
}

.val.number {
    color: #ce9178;
}

.val.boolean {
    color: #b5cea8;
}

.val.null {
    color: #d7ba7d;
    font-style: italic;
}