<div class="playground">
    <div class="playground__wrapper">
        @if (router.url === '/playground') {
        <div class="playground__form">
            <div class="form__question">Que souhaitez-vous faire ?</div>
            <div class="form__choices">
                <div class="form__choice" [routerLink]="['/playground/sardine']">
                    <div class="choice__wrapper">
                        <i class="pi pi-file choice__icon"></i>
                        <div class="choice__informations">
                            <div class="choice__title">
                                Tester Sardine
                            </div>
                            <div class="choice__subtitle">
                                Déterminer les zones et le type d'un document
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form__choice"  [routerLink]="['/playground/agent']">
                    <div class="choice__wrapper">
                        <i class="pi pi-microchip-ai choice__icon"></i>
                        <div class="choice__informations">
                            <div class="choice__title">
                                Tester un Agent
                            </div>
                            <div class="choice__subtitle">
                                Analyser un texte pour en extraire des informations
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form__choice"  [routerLink]="['/playground/flow']">
                    <div class="choice__wrapper">
                        <i class="pi pi-sitemap choice__icon"></i>
                        <div class="choice__informations">
                            <div class="choice__title">
                                Tester un Flow
                            </div>
                            <div class="choice__subtitle">
                                Extraire et classifier des informations d'un document
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        } @else {
        <router-outlet></router-outlet>
        }
    </div>
</div>