@import "./styles/animations.scss";
@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-height: 64px;
    --sidebar-width: 256px;
    --mobile-navigation-height: var(--header-height);

    --padding-app: 1.5rem;
    --gap-app: var(--padding-app);

    --background-gradient: linear-gradient(270deg, #ff00cc, #3333ff, #00ffcc, #ff00cc);

    --background-color-50: var(--p-surface-50);
    --background-color-100: var(--p-surface-100);
    --background-color-200: var(--p-surface-200);
    --background-color-300: var(--p-surface-300);
    --background-color-400: var(--p-surface-400);
    --background-color-500: var(--p-surface-500);
    --background-color-600: var(--p-surface-600);
    --background-color-700: var(--p-surface-700);
    --background-color-800: var(--p-surface-800);
    --background-color-900: var(--p-surface-900);
    --background-color-950: var(--p-surface-950);

    --dot-size: 0.01rem;

    --orgchart-background-line: #1a1a1a0c;
    --p-organizationchart-node-padding: 0 !important;
}

.app-dark:root {
    --background-color-50: var(--p-surface-950);
    --background-color-100: var(--p-surface-900);
    --background-color-200: var(--p-surface-800);
    --background-color-300: var(--p-surface-700);
    --background-color-400: var(--p-surface-600);
    --background-color-500: var(--p-surface-500);
    --background-color-600: var(--p-surface-400);
    --background-color-700: var(--p-surface-300);
    --background-color-800: var(--p-surface-200);
    --background-color-900: var(--p-surface-100);
    --background-color-950: var(--p-surface-50);

    --orgchart-background-line: #ebebeb1f;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

    ::after,
    ::before {
        box-sizing: inherit;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    font-size: 14px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    line-height: normal;
    color: var(--p-text-color);
    background-color: var(--background-color-50);
}

::selection {
    background-color: var(--p-text-color);
    color: var(--background-color-50);
}

.router-outlet-container>:not(router-outlet, .is-not-router-outlet) {
    height: 100%;
    width: 100%;
}

p-password input {
    width: 100%;
}

p-selectbutton .p-togglebutton {
    flex: 1;
}

.p-select-option,
.p-multiselect-option {
    font-size: var(--p-inputtext-sm-font-size) !important;
        padding-block: var(--p-inputtext-sm-padding-y) !important;
    padding-inline: var(--p-inputtext-sm-padding-x) !important;

    .with-actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item-label {
            pointer-events: none;
        }

        .action {
            cursor: pointer;
            margin-left: 8px;
            pointer-events: auto;
            font-size: .75rem !important;
        }
    }
}

p-progressbar .p-progressbar-value {
    background: var(--background-gradient);
    background-size: 800% 800%;
    animation: gradientMove 15s ease infinite;
    color: #fff !important;
}

p-breadcrumb .p-breadcrumb {
    background: transparent !important;
    padding: 0 !important;

    .p-icon {
        height: .5rem !important;
        width: .5rem !important;
    }
}

.p-tooltip-text {
    font-size: 0.75rem !important;
    padding: .25rem .5rem !important;
}

@media screen and (max-width: 768px) {
    :root {
        --sidebar-width: auto;
        --padding-app: .75rem;
    }
}

/* ta customisation */
::-webkit-scrollbar {
    width: .25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-300);
    border-radius: 4px;
    transition: background-color .3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-color-400);
}

::-webkit-scrollbar-button {
    display: none;
}