@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-height: 128px;
    --sidebar-width: 256px;
}

* {
    box-sizing: border-box;

    ::after,
    ::before {
        box-sizing: inherit;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 14px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    line-height: normal;
    color: var(--p-text-color);
    background-color: var(--ground-background);
}